######################################################
# Cluster Access
######################################################

host    all             all             {{ primary_ip }}/32      trust

host    all             all             {{ standby1_ip }}/32     trust

host    all             all             {{ standby2_ip }}/32     trust


######################################################
# Replication
######################################################

host    replication     all             {{ primary_ip }}/32      trust

host    replication     all             {{ standby1_ip }}/32     trust

host    replication     all             {{ standby2_ip }}/32     trust
