###############################################################################
# HAProxy Configuration
###############################################################################

###############################################################################
# Global Settings
###############################################################################

global

    log         127.0.0.1 local2

    chroot      /var/lib/haproxy

    pidfile     /var/run/haproxy.pid

    maxconn     {{ haproxy_maxconn }}

    user        haproxy

    group       haproxy

    daemon

    stats socket /var/lib/haproxy/stats

    ssl-default-bind-ciphers PROFILE=SYSTEM

    ssl-default-server-ciphers PROFILE=SYSTEM


###############################################################################
# Default Settings
###############################################################################

defaults

    mode                    tcp

    log                     global

    option                  tcplog

    retries                 3

    timeout http-request    10s

    timeout queue           1m

    timeout connect         10s

    timeout client          1m

    timeout server          1m

    timeout http-keep-alive 10s

    timeout check           10s

    maxconn                 3000


###############################################################################
# PostgreSQL Frontend
###############################################################################

frontend postgres_front

    bind *:{{ haproxy_port }}

    default_backend postgres_back


###############################################################################
# PostgreSQL Backend
###############################################################################

backend postgres_back

    mode tcp

    option httpchk GET /

    http-check expect status 200

{% for host in groups['database'] %}
    server node{{ loop.index }} {{ host }}:{{ postgres_port }} check port {{ pgcheck_port }} inter 2s fall 3 rise 2
{% endfor %}


###############################################################################
# HAProxy Statistics
###############################################################################

listen stats

    bind *:{{ haproxy_stats_port }}

    mode http

    stats enable

    stats uri /haproxy

    stats refresh 5s
