[Unit]
Description=PostgreSQL Primary Health Check API
After=network.target

[Service]
Type=simple

User=postgres
Group=postgres

ExecStart=/usr/bin/python3 {{ pgcheck_script }}

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
